.contact{
    width:400px;
    margin:100px;
    padding:20px;
    background-color:chocolate;
    border-radius:15px;
}
h1{
    text-align:center;
}
button{
    width:40%;
    padding:10px;
    background-color:rgb(69, 58, 228);
    color:blue;
    border-radius:15px;
    color:rgb(235, 235, 235);
    margin-left:110px;
}
input{
    width:95%;
    padding:10px;
    margin:10px;
    border-radius:15px;
    margin-left:5px
}
textarea{
    width:95%;
    padding:10px;
    margin:10px;
    border-radius:10px;
    margin-left:5px
}
  